html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-container {
    width: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.calculator {
    height: 80px;
}

.result {
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border:2px solid black;
}

.clear {
    grid-column: 4 / 5;
}

.number0 {
    grid-column: 1 / 4;
}

.equals {
    grid-column: 1 / 4;
    grid-row: 6;
}

.add {
    grid-column: 4 / 5;
    grid-row: 2;
} 

.minus {
    grid-column: 4 / 5;
    grid-row: 3;
}

.multiply {
    grid-column: 4 / 5;
    grid-row: 4;
}

.dot {
    grid-row: 6 / 7;
}

